<section role="main">
	<div class="row ">
		<div class="main-page-content small-9 small-centered columns">
			<div class="row map-bg">
				<div class="small-8 columns">
					<h4>Search Popular Event from Facebook </br>
					By Category </br>
					By Place </br>
					By Date	</br>				
					In Range </br>
					Be updated ! </h4>					
					
				</div>				
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="large-3 medium-6 small-9 large-centered small-centered columns">
			<%= link_to "Get Started !", home_map_path, class:'button', 'data-no-turbolink' => true%>
		</div>
	</div>
	
</section>